* {
    box-sizing: border-box;
    margin:0;
    padding:0; }

body {
    font-family: Constantia, Palatino, serif;
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    width: 928px;
    border: 5px solid black;  
    margin: 0 auto;
    background-image:url(../img/metalcoat.jpg)
}
.wrap {
  background:white;  
}

header {
    height: 165px;
    width:920px;
    margin: auto;}

 nav { 
    padding: 5px; 
    width: auto; 
    height: 30px;
    text-align:center;
    border: 1px solid black;
    background: #D8D8D8;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #660099;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

article {
    font-size: 16px;
    padding: 20px;   
    padding-bottom: 120px; 
    line-height:1.5;
}
h1 {
    text-align: center;
}
p {
    margin: auto;
    padding: 6px; 
}
footer{
    height: 60px;
    color: #000000; 
    width: 100%;
    text-align: center;
    font-size: 13px;
}

a{
    color: #000000;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
    transition:.5s;
    text-decoration: none;
} 
a:hover {
    color:#660099;
}

/*CLIPS*/

.cliplink img {
    border: 1px solid black;
    margin-right:10px;
    float:left;
}
.floatclip {
    margin-left:40px;
    float:left;
}
.clearer {
    clear: both;
}
/* CONTACT PAGE */ 

.links figure {
    float:left;
    margin-right: 5px;
}
.clearer {
    clear: both;
}
.links .contact{
    text-decoration: none;
}

/*HOBBIES PAGE */

.costumes figure { 
    float: left; 
    margin: 2px 10px 0 0;
    border: 1px solid black;
}
.costumes .odd {
    float: right; 
    margin: 2px 0 0 10px;
    border: 1px solid black;
}

.costumes .odd figcaption {
    width: 250px;
    max-width: 100%;
    font-size: 12px;    
}
.costumes figcaption {
  width: 475;
    max-width: 100%;
    font-size: 12px;
    padding: 5px;
}
.costumes a {
    text-decoration:underline;
}

/* RESUME PAGE */

.resume h2 {
    margin-bottom: 0px;
}
.resume h3 {
    margin-left: 12px;
    
}
.resume p {
    margin-left: 15px;
}
.resume ul {
    margin-left: 50px;
}
.resume a {
    text-decoration:underline;
}
/*  index */
.homepage .odd {
    float: right;
    margin-left: 5px;
    border: 1px solid black;
}
.homepage figcaption {
    width: 250px;
    max-width: 100%;
    font-size: 12px;
    text-align: center;
}
.homepage img {
   float: left; 
    margin: 2px 10px 0 0;
    border: 1px solid black;
}
.video {
    text-align:center;
}
.mailto a { 
    text-decoration: none;
}
#back.img metalcoat{
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
}
