*{
    box-sizing: border-box;
    margin:0;
    padding:0; 
}
body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

header {
    background-color: #dd7722;
    color: #554422; 
    height: 100px;
    margin: auto;

}

header h1 {
    font-family: helvetica, sans-serif; 
    font-size: 50px;
    font-weight: 500;
    padding: 30px 10px 0px 30px;
}

    header nav { 
    margin-top:10px;
    padding: 5px 5px 5px 5px; 
    background: #eeaa33;
    width: auto; 
    align-items:center;
}

article {
    font-family: helvetica, arial, sans-serif; 
    font-size: 16px;
    padding: 80px
    
}

footer{
    margin: 10px;
}
