*{
    box-sizing: border-box;
    margin:0;
    padding:0; 
}
body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

header {
    background-color: #70138f;
    color: #000000; 
    height: 100px;
    margin: auto;
    border: 2px solid black;
}

header h1 {
    font-family: helvetica, sans-serif; 
    font-size: 30px;
    font-weight: 500;
    padding: 30px 10px 0px 30px;
    text-align: center;
}

header a:hover { 
    color: #ffffff;
}

    header nav { 
    margin-top:10px;
    padding: 5px 5px 5px 5px; 
    background: #c8a3d6;
    width: auto; 
    height: 32px;
    text-align:center;
}

a {
    text-decoration: none;
    color: #000000;}

article {
    font-family: helvetica, arial, sans-serif; 
    font-size: 16px;
    margin-top:20px;
    padding:30px;
}
.fancy {
    font-family: cursive; 
    color: #0000CD;
}
footer{
    margin: 10px;
}


.images {
    text-align:center;
}
.images img {
    width:100px;
    height:100px;
}
.images div {
    width:100px;
    text-align:center;
}
.images div span {
    display:block;
}
.margin_right {
    margin-right:50px;
}
.float {
    float:right;
}
.clear {
    clear:both;
    height:0;
    width:0;
}

.clips td {
    border:1px solid black;  
}
